SECRET_KEY=changeme-use-a-long-random-string-here
SQLALCHEMY_DATABASE_URI=sqlite:///./polfact.db
UPLOAD_DIR=uploads
FIRST_SUPERUSER=admin@polfact.com
FIRST_SUPERUSER_PASSWORD=admin123
BACKEND_CORS_ORIGINS=http://localhost:5173
OPENAI_API_KEY=
SERPER_API_KEY=
SIGHTENGINE_API_USER=1977380819
SIGHTENGINE_API_SECRET=VYKTRrxnbDiCMEKdyqEA9DddaY9cSAtF
