SECRET_KEY=changeme-use-a-long-random-string-here
SQLALCHEMY_DATABASE_URI=sqlite:///./polfact.db
UPLOAD_DIR=uploads
FIRST_SUPERUSER=admin@polfact.com
FIRST_SUPERUSER_PASSWORD=admin123
BACKEND_CORS_ORIGINS=http://localhost:5173
OPENAI_API_KEY=
SERPER_API_KEY=
REALITY_DEFENDER_API_KEY=rd_2852d3c04871bde0_b910fde9d9e2bb15adc77320226df0db
